.wrapper{
	width: 1160px;
	height: 775px;
	background: url("../images/home-bg.jpg") no-repeat;
	margin: 55px auto;
	font-family: arial;
	 margin-left: 5px;
}
h1{
	color: #000000;
	color:#000000;
    font-size: 38px;
   
    padding: 20px 60px;
}
h3{
	padding: 10px 0px 15px 60px;
    color: #b48574;
}
.left{
	width: 274px;
	height: 76px;
	float: left;
	font-size: 18px;
    line-height: 25px;
    margin-left: 75px;
    color: #D80000;
}
.right{
	width: 274px;
	height: 76px;
	float: left;
	font-size: 18px;
    line-height: 25px;
    margin-left: 20px;
    color: #D80000;
}
.input1{
	border-radius: 5px;
	width: 240px;
    height: 35px;
}
.clear{
	clear: both;
}
.ckeditor{
	width: 200px;
	height: 100px;
}
.div1{
	font-size: 18px;
    line-height: 25px;
    color: #D80000;
    margin-left: 75px;
    margin-bottom: 20px;
}
.input2{
	border-radius: 5px;
	width: 535px;
	height: 35px;
}
.input3{
	border-radius: 5px;
	width: 95px;
    height: 50px;
	background-color: #5db75f;
	color: #D80000;
}
.div2{
	margin-bottom: 10px;
}
.select{
	border-radius: 5px;
	height: 35px;
	width: 80px;
}
.error{
	color: red;
}